<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphones Rio Cuarto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="#" class="button button-1"> Clientes </a>
        <a href="#" class="button button-2"> Productos </a>
        <a href="#" class="button button-3"> Pedidos </a>
    </div>
</body>
</html>