<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphones Rio Cuarto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
  <table>
    <th>ID</th>
    <th>Descripcion</th>
    <th>Precio</th>
    {% for cliente in clientes %}
      <tr>
      {% for atributo in cliente %}
        <td>{{atributo}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
    <a href="{{ url_for('pedidos')}}">
      <button>pedidos</button>
    </a>
    <a href="{{ url_for('cliente')}}">
      <button>cliente</button>
    </a>
    <a href="{{ url_for('productos')}}">
      <button>productos</button>
    </a>
  </body>
</html>